.homepageButton {
  padding: 9.5px 30px 9.5px 20px;

  font-weight: 500;
  font-size: 16px;
  text-wrap: nowrap;

  color: var(--swm-off-white);

  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

[data-theme='dark'] .homepageButton {
  background-color: var(--swm-blue-light-80);
  border-color: var(--swm-blue-light-80);
}

a.homepageButtonLink:hover {
  text-decoration: none !important;
}

.homepageButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .homepageButton,
  .homepageButtonLink {
    width: 100%;
  }
  .homepageButton {
    font-size: 18px;
  }
}

.homepageButton p {
  margin: 0 0 2px 0;
}

.homepageButton svg {
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.arrow {
  transition: left 0.3s;
}

.arrow {
  left: 8px;
}

.homepageButton svg {
  transition: stroke 0.3s;
}

.homepageButton:hover .arrow {
  left: 16px;
}


.buttonNavyStyling {
  background-color: var(--swm-navy-light-100);
  color: var(--swm-off-white);
}

.buttonNavyStyling svg {
  stroke: var(--swm-off-white);
}

.buttonNavyStyling:hover {
  background-color: transparent;
  color: var(--swm-navy-light-100);
}
[data-theme='dark'] .buttonNavyStyling:hover {
  background-color: transparent;
  color: var(--swm-navy-light-100);
  border: 1px solid var(--swm-navy-light-100)
}

.buttonNavyStyling:hover svg {
  stroke: var(--swm-navy-light-100);
}

.buttonNavyBorderStyling {
  border: 1px solid var(--swm-navy-light-100);
}

.arrow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
}
