.navbar__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 218px; */
}

.navbar__logo img {
  height: var(--swm-logo-height);
}

[class*='navbar__items'] [class*='navbar__logo'] {
  justify-content: flex-start;
}

/* TODO: Show logo? */
/* Hide logo on mobile sidebar */
[class*='navbar-sidebar'] [class*='navbar__logo'] {
  /* justify-content: flex-start; */
  display: none;
}

[class*='sidebar'] {
  background-color: var(--swm-off-background);
}

/* Logo shown on the sidebar after scrolling down the page. */
@media (min-width: 996px) {
  [class*='sidebar'] [class*='navbar__logo'] {
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    align-items: center;
    height: 57px;
  }
}

.navbar__title {
  margin-left: 1em;
  height: var(--swm-logo-height);
}

.navbar__title img {
  height: var(--swm-logo-height);
  width: var(--swm-logo-title-width);
}

@media (max-width: 996px) {
  .navbar__title {
    display: none;
  }
}

.logoWrapper a {
  display: flex;
  flex-direction: row;
}

[class*='sidebarLogo'] {
  min-height: 0 !important;
  margin: 0 !important;
}

[class*='sidebar'] [class*='logoWrapper'] a {
  align-items: center;
}

@media (min-width: 996px) {
  [class*='logoWrapper'] a {
    padding-left: 1.5rem;
  }
  [class*='colorModeToggle'] {
    margin: 0 1.5em !important;
  }
}
@media (max-width: 996px) {
  [class*='colorModeToggle'] {
    margin: 0 0 !important;
  }
}

[class*='navbar__logo'] img {
  margin-right: 0.5rem;
}

[class*='logoWrapper'] {
  justify-content: flex-start !important;
}
