[class*='DocSearch-Modal'] {
  --docsearch-modal-background: var(--swm-off-background);
  --docsearch-spacing: 16px;
  margin: 100px auto auto !important;
}

@media (max-width: 768px) {
  [class*='DocSearch-Modal'] {
    --docsearch-spacing: 24px;
    margin: var(--ifm-navbar-height) auto auto !important;
  }
}

@media (min-width: 768px) {
  [class*='DocSearch-SearchBar'] {
    padding: 24px var(--docsearch-spacing) 0 !important;
  }
}

[class*='DocSearch-Footer'] {
  --docsearch-footer-height: 52px;
  --docsearch-spacing: 18px;
}

[class*='DocSearch-Form'] {
  --docsearch-searchbox-shadow: none;
  --docsearch-spacing: 16px;
  --docsearch-searchbox-focus-background: var(--swm-searchbar-background);

  border: 1px solid var(--swm-searchbar-border);
  border-radius: 0 !important;
}

[class*='DocSearch-Form'] [class*='DocSearch-Input'] {
  padding: 0 0 0 6px;
}

[class*='DocSearch-Input']::placeholder {
  color: var(--swm-searchbar-text-color) !important;
}

[class*='DocSearch-Hit-source'] {
  font-size: 20px !important;
  line-height: 1.3 !important;
  letter-spacing: var(--swm-heading-letter-spacing-smaller);

  padding: 0 !important;
  margin: 24px 0 8px 0 !important;
}

@media (max-width: 768px) {
  [class*='DocSearch-Hit-source'] {
    margin: 24px 0 16px 0 !important;
  }
}

[class*='DocSearch-Hit'],
[class*='DocSearch-Hit'] a {
  border-radius: 0 !important;
}

[class*='DocSearch-Hit'] a {
  --docsearch-hit-shadow: none;
  --docsearch-hit-background: var(--swm-search-hit-background);
  border: 1px solid var(--swm-search-hit-border);
}

[class*='DocSearch-Hit'][aria-selected='true'] a {
  --docsearch-highlight-color: var(--swm-search-hit-background-hover);
  border: 1px solid var(--swm-search-hit-border-hover);
}

@media (max-width: 768px) {
  [class*='DocSearch-Hit'] a,
  [class*='DocSearch-Hit'][aria-selected='true'] a {
    border: none;
  }
}

[class*='DocSearch-Hits'] *[aria-selected='false'] {
  --docsearch-hit-active-color: var(--ifm-font-color-base) !important;
}

[class*='DocSearch-Hits'] *[aria-selected='true'] {
  --docsearch-hit-active-color: var(--swm-search-hit-active-color) !important;
}

[class*='DocSearch-Hits'] mark {
  text-decoration: underline;
  text-underline-offset: 2px;
}

[class*='DocSearch-Hit-source'],
[class*='DocSearch-Hits'] mark {
  color: var(--swm-docsearch-hit-source-color) !important;
}

[class*='DocSearch-Hit-Container'] {
  --docsearch-hit-color: var(--ifm-font-color-base);
  font-weight: 400;
}

[class*='DocSearch-Hit-content-wrapper'] {
  font-weight: 400 !important;
}

[class*='DocSearch-Hit-title'] {
  font-size: 16px !important;
}

[class*='DocSearch-Hit-path'],
[class*='DocSearch-Hit-icon'] {
  --docsearch-muted-color: var(--ifm-font-color-base);
  font-size: 14px !important;
}

[class*='DocSearch-Hit-action-button'] {
  color: var(--docsearch-hit-active-color) !important;
}

[class*='DocSearch-HitsFooter'] {
  --docsearch-muted-color: var(--ifm-font-color-base);
  font-size: 18px !important;
  padding: 20px var(--docsearch-spacing) 22px var(--docsearch-spacing) !important;
}

@media (max-width: 768px) {
  [class*='DocSearch-HitsFooter'] {
    font-size: 12px !important;
    padding: 24px var(--docsearch-spacing);
  }
}

[class*='DocSearch-HitsFooter'] a {
  border: none;
}

[class*='DocSearch-Commands-Key'],
[class*='DocSearch-Label'] {
  --docsearch-muted-color: var(--swm-search-hit-results-color);
}

[class*='DocSearch-Form'] [class*='DocSearch-Modal-heading'] {
  display: flex !important;
  align-items: center;
  flex: 0 0 auto !important;
  margin: 0 !important;
  padding: 0 0 0 6px !important;
  width: auto !important;
}

[class*='DocSearch-Form'] [class*='DocSearch-Actions'] {
  width: auto !important;
  flex-shrink: 0 !important;
  display: flex !important;
  align-items: center;
  margin-left: auto !important;
}

[class*='DocSearch-Actions'] [class*='DocSearch-Clear'] {
  margin-left: 8px !important;
}

[class*='DocSearch-NoResults'] [class*='DocSearch-Title'] {
  line-height: 1.1em;
  text-wrap: wrap;
  overflow-wrap: break-word !important;
  word-break: break-word !important;
  max-width: 100% !important;
  padding: 0 8px !important;
  box-sizing: border-box !important;
}

[class*='DocSearch-Button'] {
  max-width: 100%;
}

@media (max-width: 768px) {
  [class*='DocSearch-Button'] {
    max-width: 100%;
    box-sizing: border-box !important;
  }
}

[class*='DocSearch-Sidepanel-Container'] {
  top: calc(var(--ifm-navbar-height) + 1rem) !important;
  height: auto !important;
  box-sizing: border-box !important;
}
