.llmButtonContainer {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.llmButton {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: var(--swm-background);
  color: var(--swm-markdown-copy-button-color);
  border: 1px solid var(--swm-markdown-copy-button-color);
  border-radius: 0px;
  padding: 7px 10px;
  font-size: 0.85rem;
  cursor: pointer;
}

.llmButton:hover {
  background-color: var(--swm-markdown-copy-button-background-hover);
}

.chevron {
  transition: transform 0.2s;
}

.active .chevron {
  transform: rotate(180deg);
}

.llmDropdown {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  background: var(--swm-background);
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: 8px;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  z-index: 100;
  min-width: 180px;
  overflow: hidden;

  opacity: 0;
  transform: translateY(-10px) scale(0.95);
  pointer-events: none;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.llmDropdown.open {
  opacity: 1;
  transform: translateY(0) scale(1);
  pointer-events: auto;
}

.llmDropdownItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  cursor: pointer;
  font-size: 13px;
  background-color: var(--swm-markdown-copy-button-item-background);
  color: var(--swm-markdown-copy-button-item-color);
  transition: background 0.15s;
}

.llmDropdownItem:hover {
  background-color: var(--swm-markdown-copy-button-item-background-hover);
  color: var(--swm-markdown-copy-button-item-color-hover);
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.llmButtonBar {
  float: right;
  margin-left: 16px;
  margin-bottom: 8px;
}